button {
  background-color: lightseagreen;
  line-height: 1.5rem;
  border-radius: 5px;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 25px 0;
  width: 100%;
}

.container {
  width: 40%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  border: 1px solid lightseagreen;
  border-radius: 5px;
  padding: 2rem;
}

.form-input {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 10px 0;
  font-size: 1.25rem;
}

.form-input > input {
  flex-grow: 1;
  line-height: 1.5rem;
}

.delete {
  background-color: #E8869A;
  color: white;
  width: 150px;
}

.person {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.notification {
  width: 90%;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.error {
  border: 2px solid #E8869A;
  background-color: #FFE9F5;
}

.success {
  border: 2px solid lightseagreen;
  background-color: #D2EFEE;
}
