.error {
  color: red;
  border: 1px solid red;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.success {
  color: green;
  border: 1px solid green;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}
